.notify_queue {
    --notification-zindex: 1090;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    width: 100%;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: var(--notification-zindex);
}

.notify_queue:first-child {
    margin-top: 40px;
}

.notify_queue .notification {
    --notification-background-color: #242424;
    --notification-text-color: #fff;
    --notification-svg-color: #fff;
    --notification-padding: .8rem;
    background-color: var(--notification-background-color) !important;
    color: var(--notification-text-color) !important;
    padding: var(--notification-padding) !important;
    margin-bottom: .5rem !important;
    font-size: .875rem;
    position: relative;
    overflow: hidden;
    border: none !important;
    transition: transform .3s ease-in-out !important;
    transform: translateX(-100vmax) !important;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px !important;
    pointer-events: auto;
    display: flex;
    align-items: center;
}

.notify_queue .notification a {
    color: #ffffff !important;
}

.notify_queue .success {
    --notification-text-color: #ffffff;
    --notification-svg-color: #ffffff;
}

.notify_queue .success a {
    color: #ffffff !important;
    font-weight: bold;
}

.notify_queue .notification a:hover {
    color: #ffffff !important;
}

.notify_queue .show {
    transform: translateX(0) !important;
}

.notify_queue .dismissible {
    padding-right: 2.2rem;
}

.notify_queue .notification-icon {
    margin-right: .5rem;
}

.notify_queue .notification svg {
    fill: var(--notification-svg-color);
    width: 19px;
    height: 19px;
    transition: all .3s;
}

.notify_queue .notification button {
    border: none;
    background: transparent;
}

.notify_queue .notification button svg {
    width: 15px;
    height: 15px;
}

.notify_queue .notification button:hover svg {
    transform: rotate(180deg);
}

.notify_queue .notification_progress {
    --notification-progress-color: #ffffff;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--notification-progress-color);
}

.notify_queue .success {
    --notification-background-color: #0a9f88 !important;
}

.notify_queue .success .notification_progress {
    --notification-progress-color: #1cffc3 !important;
}
